.btn{
    border-radius: var(--rounded-sm);
    border-width: 1px;
    border-style: solid;
    padding: .3rem .9rem;
    font-weight: 600;
    transition: all 200ms;
}

.btn:hover{
    background-color: var(--btn-bg-color-hover);
}

.btn:disabled{
    cursor: not-allowed;
    background-color: var(--neutral-200);
    border-color: var(--neutral-200);
    color: var(--text-color-primary);
}

[data-theme="dark"] .btn:disabled{
    border-color: var(--neutral-700);
    background-color: var(--neutral-700);
}

.btn:disabled:hover{
    filter: brightness(1);
    border-color: var(--neutral-200);
    background-color: var(--neutral-200);
}

[data-theme="dark"] .btn:disabled:hover{
    border-color: var(--neutral-700);
    background-color: var(--neutral-700);
}

.btn--primary{
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-color: var(--primary-color);
}

.btn--primary:hover{
    filter: brightness(1.15);
    background-color: var(--primary-color)
}