.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--rounded-sm);
  border: 2px solid var(--border-color);
  gap: 0.5rem;
  padding: 0.3rem 0;
  transition: border-color 200ms;
}

.input-wrapper:focus-within {
  border-color: var(--primary-color);
}

.input-wrapper__icon {
  font-size: var(--font-size-lg);
  padding-right: 0.5rem;
}

.input-wrapper__input {
  flex-grow: 1;
  color: var(--text-color-secondary);
}
