@import "./variables.css";

html {
  scroll-behavior: smooth;
  font-size: 100%;
  direction: rtl;
  font-family: var(--primary-font);
  box-sizing: border-box;
  color: var(--text-color-primary);
  line-height: 1.7;
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: inherit;
  line-height: inherit;
}

body {
  background-color: var(--bg-color);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms;
}

i {
  user-select: none;
}

span {
  font: inherit;
}

button {
  font: inherit;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

input {
  font: inherit;
  border: none;
  background: none;
  color: inherit;
}

select {
  font: inherit;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}
