@font-face {
  font-family: "iransans";
  src: url(../../fonts/iran_sans/woff2/IRANSansX-Light.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url(../../fonts/iran_sans/woff2/IRANSansX-Regular.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url(../../fonts/iran_sans/woff2/IRANSansX-Medium.woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url(../../fonts/iran_sans/woff2/IRANSansX-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url(../../fonts/iran_sans/woff2/IRANSansX-ExtraBold.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url(../../fonts/iran_sans//woff2/IRANSansX-Black.woff2);
  font-weight: 900;
  font-style: normal;
}
