.header {
  z-index: 5;
  top: 0;
}

.header__content-wrapper {
  background-color: rgb(235, 235, 235);
  position: fixed;
  width: 100%;
}

[data-theme="dark"] .header__content-wrapper {
  background-color: rgb(53, 53, 53);
}

.header__content {
  display: flex;
  align-items: center;
}

.header__logo {
  display: none;
  justify-content: center;
  align-items: center;
}

.header__logo-img {
  width: 50px;
}

.header__btn {
  display: none;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--rounded-sm);
  transition: all 200ms;
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.header__btn:hover,
.header__btn.active {
  background-color: var(--neutral-100);
}

[data-theme="dark"] .header__btn:hover,
[data-theme="dark"] .header__btn.active {
  background-color: #303030;
  color: var(--text-color-secondary);
}

.header__close-mobile-global-search-box-btn {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  margin-left: 0.3rem;
  font-size: 1.1rem;
}

.header__close-mobile-global-search-box-btn.show {
  display: flex;
}

.header__global-search-box-and-mobile-cities-search-box {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
}

.header__global-search-box-and-mobile-cities-search-box-content {
  background-color: var(--bg-color);
  border: 1px solid var(--neutral-400);
  border-radius: var(--rounded-sm);
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

[data-theme="dark"]
  .header__global-search-box-and-mobile-cities-search-box-content {
  border-color: var(--neutral-600);
}

.header__global-search-box-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0.3rem 0.5rem;
}

.header__global-search-input {
  width: 100%;
  color: var(--primary-text-color);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__mobile-cities-search-box-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  width: 90px;
  border-right: 1px solid var(--border-color);
}

.header__navbar-container {
  background-color: rgb(235, 235, 235);
  position: fixed;
  bottom: 0;
  width: 100%;
}

[data-theme="dark"] .header__navbar-container {
  background-color: rgb(55, 55, 55);
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.header__navbar-item-wrapper {
  flex: 1;
}

.header__support-btn {
  display: none;
}

.header__navbar-item-link {
  font-weight: 600;
  font-size: var(--font-size-xs);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  padding: 0.4rem 0.1rem;
}

.header__navbar-item-wrapper.active .header__navbar-item-link {
  color: var(--primary-color);
}

.header__navbar-item-link:hover {
  color: var(--text-color-secondary);
  background-color: var(--neutral-300);
}

[data-theme="dark"] .header__navbar-item-link:hover {
  background-color: #303030;
}

.header__navbar-item-img {
  width: 28px;
  height: 28px;
  margin: -3px;
}

.header__navbar-item-link-icon {
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem 0;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .header__content {
    width: 100%;
    margin: 0;
    max-width: none;
    gap: 1rem;
  }

  .header__btn,
  .header__logo {
    display: flex;
  }

  .header__global-search-box-and-mobile-cities-search-box {
    max-width: 480px;
  }

  .header__global-search-box-and-mobile-cities-search-box-content {
    border-color: var(--border-color);
  }

  .header__global-search-box-wrapper {
    font-size: var(--font-size-sm);
    background: var(--border-color);
  }

  .header__close-mobile-global-search-box-btn {
    display: none !important;
  }

  .header__mobile-cities-search-box-btn {
    display: none;
  }

  .header__content-wrapper,
  .header__navbar-container {
    position: static;
    background: none !important;
    width: auto;
  }

  .header__content-wrapper {
    flex-grow: 1;
  }

  .header__navbar-container {
    margin-right: 1rem;
  }

  .header__navbar {
    gap: 1rem;
  }

  .header__navbar-item-wrapper {
    flex: none;
    border-radius: var(--rounded-sm);
    overflow: hidden;
  }

  .header__navbar-item-link {
    font-weight: 700;
    flex-direction: row;
    gap: 0.7rem;
    padding: 0.5rem 1.1rem;
  }

  .header__navbar-item-link:hover {
    background-color: var(--neutral-100);
  }

  .header__navbar-item-wrapper.active .header__navbar-item-link {
    color: var(--text-color-secondary);
    background-color: var(--neutral-300);
  }

  [data-theme="dark"]
    .header__navbar-item-wrapper.active
    .header__navbar-item-link {
    background-color: #303030;
  }

  .header__posts-btn,
  .header__categories-btn {
    display: none;
  }

  .header__new-post-btn {
    order: 4;
    background-color: var(--primary-color) !important;
    color: var(--bg-color) !important;
  }

  .header__new-post-btn .header__navbar-item-link {
    background: inherit !important;
    color: inherit !important;
    font-size: var(--font-size-sm);
  }

  .header__new-post-btn .header__navbar-item-link:hover {
    background: var(--primary-color);
    color: var(--bg-color);
    filter: brightness(1.5);
  }

  .header__new-post-btn .header__navbar-item-link-icon {
    display: none;
  }

  .header__dark-mode-btn {
    order: 2;
  }

  .header__support-btn {
    display: block;
    order: 3;
  }
}
